<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <title>Messanger</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'icon.ico' %}">
    </head>
    <body>
        <div class="main-container">
            <div class="groups-container">
                {% for chat in chats %}
                <div class="group-container">
                    <img src="{{MEDIA_URL}}avatars/default.png" class="group-icon">
                    <h2 class="group-title">{{ names|get_item:chat.id }}</h2>
                    <div class="group-info">
                        <p class="group-time">19:25</p>
                        <div class="group-msgcount">99+</div>
                    </div>
                </div>
                {% endfor %}
            <div class="group-container">
                <form action="/newchat/" method="post">
                    {% csrf_token %}
                    <p>New chat</p>
                    {{ newchatform }}
                    <button>Submit</button>
                </form>
            </div>
            </div>
            <div class="chat-container">

            </div>
        </div>
    </body>
</html>